DATABASE_URL=postgresql://user:password@localhost:5432/db_finanzas_personales

BETTER_AUTH_SECRET=your-secret-key-here

PORT=3000
NODE_ENV=development
RESEND_API_KEY=re_xxxxxxxx
SMTP_FROM="Balanz <hola@tu-dominio.com>"
